<h1>Stupid Coaching</h1>
<p><%= @ask %></p>
<p><em>-You</em></p>
<br>
<div class="answer">
  <p><strong><%= @answer %></strong></p>
  <p><em>-Your Coach</em></p>
</div>

<%= link_to "Ask a new question", ask_path %>
